<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
      
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 mx-auto col-sm-8 col-11">
                <div class="card shadow mt-5 p-4">
                    <div class="card-body">
                        <table class="table">
                            <tbody id="allPlayers">
                                
                            </tbody>
                        </table>
                        <div class="form-group mt-5">
                            <button class="btn btn-standard btn-block">Start</button>
                            <button class="btn btn-standard btn-block">Ready</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(function(){
            var socket = io();
            getAllPlayers();

            socket.on('new logged in', function (data) {
                console.log("new logged in", data);
                getAllPlayers();
            });

            socket.on('new logged out', function (data) {
                console.log("new logged in", data);
                getAllPlayers();
            });
            
        })

        function getAllPlayers() {
            $.get('/allPlayers')
                .done(data => {
                    let content = '';
                    console.log(data);
                    let {players} = data;
                    for(let player of players) {
                        let badgeOnlineClass = player.online == 'true' ? 'success' : 'danger';
                        let onlineStatus = player.online == 'true' ? 'Online' : 'Offline';

                        content += `<tr>
                                    <td class="text-bold">${player.username}</td>
                                    <td class="text-right">
                                        <span class="badge badge-pill badge-${badgeOnlineClass}">${onlineStatus}</span>
                                        <span class="badge badge-pill badge-danger">Not Ready</span>
                                    </td>
                                </tr>`;
                    }
                    $('#allPlayers').html(content);
                })
        }
    </script>
  </body>
</html>